<div class="score-group">
  <p class="score">
    @if (showAsPercentage() === true) {
      {{ (safeScore() / safeTotal()) * 100 | number : "1.0-0" }}%
    } @else {
      {{ safeScore() }}/<span class="fraction-total">{{ safeTotal() }}</span>
    }
  </p>
  <p class="category">{{ description() }}</p>
  @if (showProgressBar() === true) {
    <div class="progress-bar-container">
      <div class="progress-bar" [style.width]="(safeScore() / safeTotal()) * 100 + '%'"></div>
    </div>
  }
</div>
<div class="right-group">
  <ng-content select="[right-side]" />
</div>
